*{
  border: 0px;
  margin: 0px;
}

body {
  font-family: 'Roboto', sans-serif;
  color: white;
  background-color: black;
    
}

h2{
  text-align: center;
}

#donut_chart{
  margin-right: auto;
  margin-left: auto;
  text-align: center;
}

#donut_chart_container{
  width: 90%;
  margin-right:auto;
  margin-left:auto;
}

#donut_chart_container p{
  margin-left: 75px;
  padding-right: 75px;
  padding-bottom: 5px;
}

/*Styling for the lines connecting the labels to the slices*/
polyline{
  opacity: .5;
  stroke: white;
  stroke-width: 5px;
  fill: none;
}

/* Make the percentage on the text labels bold*/
.labelName tspan {
  font-style: normal;
  font-weight: 700;
}

.initial_text{
  fill: white;
}

.toolCircle{
  fill: white;
}

#alcohol_icon{
  background-color:#A9C5EB;
  opacity:0.5;
}

#marijuana_icon{
  background-color:#FF97CB;
  opacity:0.5;
}
#cocaine_icon{
  background-color:#CAFFD8;
  opacity:0.5;
}

/*
#crack_icon{
  background-color:#DCCCFF;
  opacity:0.5;
}
*/

#heroin_icon{
  background-color:#FFAC62;
  opacity:0.5;
}
#hallucinogen_icon{
  background-color:#A077FF;
  opacity:0.5;
}
#inhalant_icon{
  background-color:#FF00DD;
  opacity:0.5;
}
#pain_reliever_icon{
  background-color:#2DB7BF;
  opacity:0.5;
}
#oxycontin_icon{
  background-color:#E0DC62;
  opacity:0.5;
}
#tranquilizer_icon{
  background-color:#FFCCDA;
  opacity:0.5;
}
#stimulant_icon{
  background-color:#4C00FF;
  opacity:0.5;
}
#meth_icon{
  background-color:#61F200;
  opacity:0.5;
}
#sedative_icon{
  background-color:#ED2D70;
  opacity:0.5;
}



#alcohol_info{
  display: none;
  height: 250px;
}

#marijuana_info{
  display: none;
  height: 250px;
}

#cocaine_info{
  display: none;
  height: 250px;    
}


#crack_info{
  display: none;
}

#heroin_info{
  display: none;
  height: 250px;
}

#hallucinogen_info{
  display: none;
  height: 250px;
}

#inhalant_info{
  display: none;
  height: 250px;
}

#pain_reliever_info{
  display: none;
  height: 250px;
}

#oxycontin_info{
  display: none;
  height: 250px;
}

#tranquilizer_info{
  display: none;
  height: 250px;
}

#stimulant_info{
  display: none;
  height: 250px;
}

#meth_info{
  display: none;
  height: 250px;
}

#sedative_info{
  display: none; 
  height: 250px;
}

#information_container{
    
    height: 300px;
    width: 65%;
    margin-top: 25px;
    margin-left: auto; 
    margin-right: auto;
    position: relative;
    
}

#information_background{
    
    height:300px;
    width:100%;
    opacity: .5;
    position: absolute;
    
}

#information{ 
    position: absolute;
}

#clickBox{
    width: 75%;
    margin-left: auto; 
    margin-right: auto;
    text-align: center;
}

#barchart{
    width: 75%;
    margin-left: auto; 
    margin-right: auto;
    height: 550;
}

#clickHere h3{
    width: 75%;
    margin-left: auto; 
    margin-right: auto;
    text-align: center;
    color: red;
}

#header{
    text-align: center;
}

.axisWhite text{
  fill: white;
}


