*{
  border: 0px;
  margin: 0px;
}

body {
    font-family: 'Roboto', sans-serif;
    color: #333333;
}

h2{
  text-align: center;
}

#donut_chart_container{
  margin: 20px;
  width: 1000px;
}

#donut_chart_container p{
  margin-left: 75px;
  padding-right: 75px;
  padding-bottom: 5px;
}

/*Styling for the lines connecting the labels to the slices*/
polyline{
    opacity: .5;
    stroke: black;
    stroke-width: 5px;
    fill: none;
}

/* Make the percentage on the text labels bold*/
.labelName tspan {
    font-style: normal;
    font-weight: 700;
}

.alcohol_use:hover{
		fill: #555;
	}

	.marijuana_use:hover{
		fill: #555;
	}

	.cocaine_use:hover{
		fill: #555;
	}

	.crack_use:hover{
		fill: #555;
	}

	.heroin_use:hover{
		fill: #555;
	}

	.hallucinogen_use:hover{
		fill: #555;
	}

	.inhalant_use:hover{
		fill: #555;
	}

	.pain_releiver_use:hover{
		fill: #555;
	}

	.oxycontin_use:hover{
		fill: #555;
	}

	.tranquilizer_use:hover{
		fill: #555;
	}

	.stimulant_use:hover{
		fill: #555;
	}

	.meth_use:hover{
		fill: #555;
	}

	.sedative_use:hover{
		fill: #555;
	}
