*{
  border: 0px;
  margin: 0px;
}

body {
  font-family: 'Roboto', sans-serif;
  color: #333333;
}

h2{
  text-align: center;
}

#donut_chart_container{
  margin: 20px;
  width: 1000px;
}

#donut_chart_container p{
  margin-left: 75px;
  padding-right: 75px;
  padding-bottom: 5px;
}

/*Styling for the lines connecting the labels to the slices*/
polyline{
  opacity: .5;
  stroke: black;
  stroke-width: 5px;
  fill: none;
}

/* Make the percentage on the text labels bold*/
.labelName tspan {
  font-style: normal;
  font-weight: 700;
}

#alc_icon{
  background-color:#420039;
  opacity:0.5;
}

#mar_icon{
  background-color:#932F6D;
  opacity:0.5;
}
#cocaine_icon{
  background-color:#E07BE0;
  opacity:0.5;
}

/*
#crack_icon{
  background-color:#DCCCFF;
  opacity:0.5;
}
*/

#heroin_icon{
  background-color:#DCCCFF;
  opacity:0.5;
}
#hal_icon{
  background-color:#A077FF;
  opacity:0.5;
}
#inhalant_icon{
  background-color:#FF00DD;
  opacity:0.5;
}
#pain_icon{
  background-color:#2DB7BF;
  opacity:0.5;
}
#oxy_icon{
  background-color:#E0DC62;
  opacity:0.5;
}
#tranq_icon{
  background-color:#FFCCDA;
  opacity:0.5;
}
#stim_icon{
  background-color:#4C00FF;
  opacity:0.5;
}
#meth_icon{
  background-color:#CCFFE2;
  opacity:0.5;
}
#sedative_icon{
  background-color:#ED2D70;
  opacity:0.5;
}



#alcohol_info{
  display: none;
}

#marijuana_info{
  display: none;
}

#cocaine_info{
  display: none;
}


/*
#crack_info{
  display: none;
}
*/

#heroin_info{
  display: none;
}

#hallucinogen_info{
  display: none;
}

#inhalant_info{
  display: none;
}

#pain_reliever_info{
  display: none;
}

#oxycontin_info{
  display: none;
}

#tranquilizer_info{
  display: none;
}

#stimulant_info{
  display: none;
}

#meth_info{
  display: none;
}

#sedative_info{
  display: none;
}

